<div class="editor rounded" title="Note Editor">
  <div class="editor-edit p-2 rounded-top">
    <div class="d-flex justify-content-between align-content-center">
      <input type="text" class="note-title" placeholder="Title" title="Note Title">
      <ion-icon class="note-pin" data-toggeler="on" name="pricetag-outline" title="Pin"></ion-icon>
    </div>
    <div class="note-content mt-2" contenteditable="true" title="Note Content">
      <p>Take a note...</p>
    </div>
  </div>
  <div class="editor-tools p-2 rounded-bottom">
    <div class="d-flex justify-content-start align-items-center">
      <ion-icon name="color-palette-outline" title="Color Palette" class="color-palette-toggler" data-toggeler="on"></ion-icon>
      <ion-icon name="save-outline" class="save-note" title="Save"></ion-icon>
      <ion-icon name="ellipsis-vertical-outline" title="More"></ion-icon>
    </div>
  </div>
  <div class="tools-wraper  bg-white shadow mt-1 rounded">
    <div class="container  mx-auto">
    </div>
  </div>
</div>
