<header>
  <nav class="navbar border-bottom shadow-sm">
    <div class="container-fluid align-items-center">
      <div class="nav-left d-flex align-items-center">
        <ion-icon name="menu-outline" class="sidebar-toggler" title="Menu"></ion-icon>
        <img
          src="https://www.gstatic.com/images/branding/product/1x/keep_2020q4_48dp.png"
          class="img-fluid"
          alt="image"
        />
        <h4>Keep</h4>
      </div>
      <div class="nav-center">
        <div class="search-bar rounded-3 py-2 d-flex justify-content-start align-items-center p-1">
          <ion-icon name="search-outline" title="Search"></ion-icon>
          <input type="text" class="search-input" placeholder="Search ..." title="Search Input" />
        </div>
      </div>
      <div class="nav-right">
        <ion-icon name="search-outline" title="Search Toggler"></ion-icon>
        <ion-icon name="refresh-outline" title="Refresh"></ion-icon>
        <ion-icon name="grid-outline" class="grid-toggler" title="Grid"></ion-icon>
        <ion-icon name="settings-outline" title="Setting"></ion-icon>
      </div>
    </div>
  </nav>
</header>
