<div class="mx-auto py-3 px-2">
    <!-- Edit -->
  <div class="nav-item-wraper mb-2 d-flex container-fluid align-items-center">
    <div
      class="d-flex nav-item py-1 rounded-3 justify-content-start align-items-center"
    >
    <ion-icon name="create" class="text-secondary"></ion-icon>
      <a class="nav-link">Edit Label</a>
    </div>
  </div>
  <!-- Archive -->
  <div class="nav-item-wraper mb-2 d-flex container-fluid align-items-center">
    <div
      class="d-flex nav-item py-1 rounded-3 justify-content-start align-items-center"
    >
    <ion-icon name="archive" class="text-secondary"></ion-icon>
      <a class="nav-link">Archive</a>
    </div>
  </div>
  <!-- Bin -->
  <div class="nav-item-wraper mb-2 d-flex container-fluid align-items-center">
    <div
      class="d-flex nav-item py-1 rounded-3 justify-content-start align-items-center"
    >
      <ion-icon name="trash" class="text-secondary"></ion-icon>
      <a class="nav-link">Bin</a>
    </div>
  </div>
</div>
